<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        text-align: center;
      }

      h1 {
        color: #333;
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      p {
        color: #666;
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      .btn {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .btn:hover {
        background-color: #0056b3;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1><%= title %> Is Live</h1>
      <p>Your trusted platform for renting properties</p>
      <a href="https://docs.google.com/document/d/1UZ8KMBNOmoG8tElQ2dOcnQ664sKtX40qBAsmqokDQVQ/edit?usp=sharing" class="btn"
        >API Documentation</a
      >
      <a href="https://github.com/Sayanhalder28/rentify-backend.git" class="btn"
      >Github Source Code </a
    >
    </div>
  </body>
</html>
